<h1>Welcome to CSE Motors!</h1>
<section class="delorean">
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice</p>
    <button>Own Today</button>
</section>
<img id="hero" src="images/vehicles/delorean.jpg" loading="lazy">
<div class="h2-container">
    <h2>Delorean Upgrades</h2>
    <h2>DMC Delorean Reviews</h2>
</div>
<div class="h3-container">
    <h3 class="upgrades-img">
        <figure>
            <img id="upgrades" src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <figcaption>Flux Capacitor</figcaption>
        </figure>
        <figure>
            <img id="upgrades" src="images/upgrades/flame.jpg" alt="Flame Decals">
            <figcaption>Flame Decals</figcaption>
        </figure>
        <figure>
            <img id="upgrades" src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            <figcaption>Bumper Stickers</figcaption>
        </figure>
        <figure>
            <img id="upgrades" src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <figcaption>Hub Caps</figcaption>
        </figure>
    </h3>
    <h3>
    <p>-"So fast it's almost like travelling in time." 4/5</p>
    <p>-"Coolest ride on the road." 4/5</p>
    <p>-"I'm feeling McFly!" 5/5</p>
    <p>-"The most futuristic ride of our day." 4.5/5</p>
    <p>-"80's living and loving it!" 5/5</p>
    </h3>
</div>