* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    color: #ffffff;
    background-color: #684747;
    padding: 30px;
}

footer {
    text-align: center;
    margin: 30px;
    padding: 15px;
    font-weight: bold;
    background-color: #121212;
    border-radius: 5px;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex: auto;
    color: white;
}