<h1>Add New Inventory</h1>

<% messages() %>

<form id="classInventory" action="/inv/add-inventory">
    <fieldset id="addInventory">
        <h2>All Fields Required</h2>
        <label>Make</label>
        <input type="text" name="inv_make" required>
        <label>Model</label>
        <input type="text" name="inv_model" required>
        <label>Year</label>
        <input type="text" name="inv_year"  pattern="\d{4}" required placeholder="4 digit year">
        <label>Description</label>
        <input type="text" name="inv_description" required>
        <label>Image</label>
        <input type="text" name="inv-image" required>
        <label>Thumbnail</label>
        <input type="text" name="inv-thumbnail required ">
        <label>Price</label>
        <input type="number" name="inv-price" required placeholder="whole number">
        <label>Miles</label>
        <input type="number" name="inv-miles" required placeholder="no commas">
        <label>Color</label>
        <input type="text" name="inv-color" required>
        <button type="submit">Add Vehicle</button>
    </fieldset>
</form>