<h1>Add New Classification</h1>

<% messages() %>
<% if (errors) { %>
  <ul class="notice">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form id="classInventory" action="/inv/add-classification" method="post">
    <fieldset class="className-container">
        <label>Classification Name</label>
        <input type="text" id="classification_Name" name="classification_name" pattern="[a-zA-Z0-9]+" title="No spaces or special characters" placeholder="Enter New Class">
        <span class="classNotice">Classification name cannot contain spaces or special characters</span>
        <button type="submit">Add Classification</button>
    </fieldset>
</form>